.content{
    display: none;
    background-color: blueviolet;
}

@media (max-width: 1024px) { 
    .content{
        display: block;
    }
     }


     .btnMenuItem{
        padding: 35px 6.25%;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: calc(1.2rem + 1.6vw);
    font-weight: bold;
    color:var(--text-white)
    }
    