.sidebar{
    width: 200px;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    transition: all 0.8s ease-out;
    padding-top: 50px;
    color:var(--text-white);
}

.sidebarXtra{
    width: 400px; 
}

.sidebar.fullNav {
    width: 100%;
    background-color: rgba(0,0,0,1);
}

.menu{
    margin-bottom: 25px;
    position: relative;
    height: 60px;
}

.menuIcon{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: 70px;
}

.menuIcon span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--text-white);
    margin: 6px 0;
    transition: all 0.4s;
}

.menuIcon span:first-child{
    width: 24px;
    margin-left:9px;
}

.menuIcon:hover span:first-child{
    transform: translateY(5px);
}
.menuIcon:hover span:last-child{
    transform: translateY(-5px);
}

.sidebar.fullNav span:first-child{
    width: 33px;
    margin-left:0px;
    transform: rotate(-45deg) translateY(7px);
}

.sidebar.fullNav span:last-child{
    transform: rotate(45deg) translateY(-7px);
}


.menuItem{
    padding:10px 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1.0375rem + 0.16667vw);
font-weight: bold;
}

.arrowRight{
    position: absolute;
    bottom: 0px;
    padding:25px 32px;
    font-size: 14px;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-orange);
    transition: all 1s ease-out;
    transform-origin: left top;
    height: 60px;
}

.arrowRight:hover{
    background-color: var(--bg-white);
    color:var(--text-orange);
}

.arrowRight span:first-child{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}