@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Nunito&family=Oswald:wght@500&family=Roboto:wght@700&family=Space+Grotesk&display=swap');
*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

:root{
    --bg-orange:#e31019;
    --bg-white:#fff;
    --bg-black:#000;
    --text-white:#fff;
    --text-orange:#e31019;
}

.landing{
    min-height: 100vh;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.text-xl{
    font-weight: bolder;
    margin-top: 180px;
    margin-left: 90px;
    font-size: calc(1.6rem + 3.1vw);
    color:var(--text-white);
    line-height: 80px;
}


.text-lg{
    font-weight: bold;
    margin-top: 30px;
    margin-left: 90px;
    font-size: 30px;
    line-height: 32px;
    color:var(--text-white);
}

.video-btm{
    position: absolute;
    bottom: 36px;
    margin-left: 54px;
    cursor: pointer;
}

.video-btm span:first-child{
    transition: all 0.3s ease-in-out 0.3s;
    transform: translateX(0px);
    display: inline-block;
}

.video-btm span:last-child{
    color: var(--text-white);
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 4px;
    transition: all 0.5s ease-in-out;
    transform: translateX(0px);
}

.video-btm:hover span:first-child{
    transform: translateX(10px);
}

.video-btm:hover span:last-child{
    transform: translateX(10px);
}

.full-video-modal{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
    background-color: rgba(0,0,0,1.0);
}

.full-video-modal.active{
    display: block;
}

.close-video-modal{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 991;
}

.close-btn span{
    display: block;
    width: 28px;
    height: 1px;
    background-color: var(--text-white);
    margin: 6px 0;
    transition: all 0.4s;
}

.close-btn{
    transition: all 0.4s;
}

.close-btn:hover{
    transform: rotate(360deg);
}

.close-btn span:first-child{
    transform: rotate(-45deg) translateY(5px);
}

.close-btn span:last-child{
    transform: rotate(45deg) translateY(-5px);

}